@model EditProjectVM

@{
    ViewData["Title"] = "Edit Project";
}

<h5>
    <i class="Project bi-pencil-square"></i>
    Edit Employee
</h5>

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name" class="form-label mt-4"></label>
                <input type="text" class="form-control" asp-for="Name" placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Budget" class="form-label mt-4"></label>
                <input class="form-control" asp-for="Budget">
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="form-label mt-4"></label>
                <input class="form-control" asp-for="Location">
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="form-label mt-4"></label>
                <select class="form-select" asp-for="DepartmentId" asp-items="Model.Departments"
                        data-placeholder="Select a Department" data-minimum-results-for-search="Infinity">
                    <option value=""></option>
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-light text-black mt-4">Save</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
