@model CreateDepartmentVM

@{
    ViewData["Title"] = "ADD Department";
}

<h5>
    <i class="bi bi-plus-circle-dotted"></i>
    Add a new Department
</h5>

<form asp-action="Create" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name" class="form-label mt-4"></label>
                <input type="text" class="form-control" asp-for="Name" placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="form-label mt-4"></label>
                <input class="form-control" asp-for="Location" placeholder="Location" value="">
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagerId" class="form-label mt-4"></label>
                <select class="form-select" asp-for="ManagerId" asp-items="Model.ManagersSelectList"
                        data-placeholder="Select a Department" data-minimum-results-for-search="Infinity">
                    <option value="">Select A Manager</option>
                </select>
                <span asp-validation-for="ManagerId" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-light text-black mt-4">Save</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
